.icon-arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 0.4rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #aaa;
  border-bottom: 0;
}
